[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-sugar = "*"
pytest = "*"
pytest-watch = "*"

[packages]
flask = "*"

[requires]
python_version = "3.8"
